STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
MEDUSA_FF_INDEX_ENGINE=true

# Frappe / ERPNext (LIM Custom App on Frappe Cloud)
FRAPPE_URL=https://lagosinternationalmarket.v.frappe.cloud
FRAPPE_API_KEY=
FRAPPE_API_SECRET=